@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  box-sizing: border-box;
  font-family: "Itim", sans-serif;
}

body {
  background: #224941 url("/img/bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
  font-size: 2rem;
  color: black;
}

.circle {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* border: white 1px solid; */
  margin: 1px;
}

.gradient-circle {
  background: conic-gradient(
    #ffe76a 0%,
    #ed9755 35%,
    #445fa2 35%,
    #445fa2 65%,
    #d11651 65%,
    #e9353e 100%
  );
  height: 315px;
  width: 315px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  /* border: white 1px solid; */
}

.pointer {
  background-color: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}
.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  background-color: thistle;
  animation: rotate 10s linear infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3.5s forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.container.shrink {
  animation: shrink 3.5s forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}
